$f-serif: 'Roboto Flex', sans-serif;

$c-font-basic: #111111;
$c-font-reversed: #ffffff;
$c-font-inputs: #343434;
$c-font-label: #555555;
$c-border: #dedede;
$c-shadow-basic: #111111;

$c-yellow: #FFD117;
$c-orange: #FFAA17;
$c-ping: #e20069;
$c-blue: #7BB3D0;
$c-violet: #7B85D0;
$c-green: #BBD07B;